* {margin:0;padding: 0;box-sizing: border-box;}

#cabeçalho{
    display:flex;
    align-items: center;
    background-color: #146A6C;
    justify-content:flex-start;
}

#titulo{
    width: 100%;
    float: left;
    order: 2;
}

#img{
    float: right;
    order: 1;
}

#frase{
    background-color: #DBDFDC;
}

h2{
    text-align: center;
    font-size: 40px;
}

#info{
    background-color: #DBDFDC;
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 60px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #146A6C;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 5ms;
}

.btn:hover{
    background-color: #199CAF;
}

footer {
    display: flex; 
   flex-wrap: wrap; 
   justify-content: space-between; 
   padding: 20px; 
   background-color:#146A6C;
   color: #eee;
   width: 100%;
   max-width: 100%;
   margin: 10px auto;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 
 }
 
 .coluna {k//,
   width: 25%;
   margin-bottom: 20px;
 }

 .coluna01 {
   width: 20%;
   margin-bottom: 20px;
   text-align: center;
 }
 
 h4 {
   margin-bottom: 10px;
   font-size: 25px; 
 }
 
 ul {
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 15px;
   line-height: 1.5;

 }