* {margin:0;padding: 0;box-sizing: border-box;}

/*Cabeçalho*/
#cabeçalho{
    display:flex;
    align-items: center;
    background-color: #DBDFDC;
    justify-content:flex-start;
    color: #199CAF;
}

#titulo{
    width: 100%;
    float: left;
    order: 2;
}

#img{
    float: right;
    order: 1;
}

#portal{
    float: right;
    order: 3;
    color:black;
    text-align: center;
}

/*container*/
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #146A6C;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    transition: 5ms;
}

.btn:hover{
    background-color: #199CAF;
}

#cancelar{
    position: absolute;
    top: 250px;
    left: 35px;
}

#agendar{
    position: absolute;
    top: 450px;
    left: 35px;
}

#cadastrar{
    position: absolute;
    top: 240px;
    right: 35px;
}

body {
    background-image: url("../img/image\ 13.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 830px;
}

/*Rodapé*/
footer {
    display: flex;
   flex-wrap: wrap; 
   justify-content: space-between; 
   padding: 20px; 
   background-color:#146A6C;
   color: #eee;
   width: 100%;
   max-width: 100%;
   margin: 500px auto;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 
 }
 
 .coluna {
   width: 25%;
   margin-bottom: 20px;
 }
 .coluna01 {
   width: 20%;
   margin-bottom: 20px;
   text-align: center;
 }
 
 h4 {
   margin-bottom: 10px;
   font-size: 25px;
 }
 
 ul {
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 15px;
   line-height: 1.5;
 }




