
#subtitulo{
    background-color: #676B77; 
    color: #fff; 
    padding: 2px; 
    text-align: center;  
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#titulo{
    width: 100%;
    float: left;
    order: 90;
    color: #199CAF;
}

#teste{
    display:flex;
    align-items: center;
    background-color: #DBDFDC;
    justify-content:flex-start;
}

#botao{
    height: max-content;
    width: auto;
    padding-left: 930px;
    padding-top: 15px;
    
}
 
.calendar {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding-right: 750px;

  }
  
  .header {
    background-color: #ccc;
    text-align: center;
    padding: 5px;
  }
  
  .weekdays {
    display: flex;
   justify-content: space-between;
    background-color:  #676B77;
    padding: 1px;
  }
  
  .weekdays div {
    width: calc(100% / 5);
    text-align: center;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 1px;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
    padding: 4px;
    border: 1px solid #ccc;
  }
  
  /* Animação */
  .day:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

.alinhamento{
  
  display: flex;
  grid: 5px;
  
  
 
}
.esq{
  display: grid;
  width: 20%;
  padding-bottom: 30px;
  height: 30px;
  justify-content: space-between;
  
}

.dir{
  display: flex;
  width: 60%;
  grid: 5px;
  display: grid 5px;
  
}
  
  
  .lista-oculta {
    display: none;
    cursor: pointer;
    font-size: small;
  }
  
  .botao:hover + .lista-oculta,
  .botao:focus + .lista-oculta {
    display: block;
  }
 
  .botao{
    background-color:  #DBDFDC;
    cursor: pointer;
    display: block; 
    width: 100px;
    border-radius: 8%;
    
    
  }





.button{
  display: none;
  display: block;
  border-bottom: 30px;
  max-height: 40px;
  margin: auto;
  display: flex;
  background-color: #fff;
  max-width: 500px;
  justify-content:space-between;
  padding-left: 30px;
  padding-right: 30px;
  /* box-sizing:border-box;  */
}  


 


 footer {
  display: flex; /* para transformar os elementos do rodapé em um container flexível.  */
 flex-wrap: wrap; /* para permitir que as colunas sejam divididas em várias linhas quando o espaço horizontal for insuficiente.  */
 justify-content: space-between; /* para permitir que as colunas sejam divididas em várias linhas quando o espaço horizontal for insuficiente.  */
 padding: 20px; 
 background-color:#146A6C;
 color: #eee;
 width: 100%;
 max-width: 100%;
 margin: 10px auto;

 padding: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;

}

.coluna {
 width: 25%;
 margin-bottom: 20px;
}
.coluna01 {
 width: 20%;
 margin-bottom: 20px;
 text-align: center;
}

h4 {
 margin-bottom: 10px;
 font-size: 25px;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
 font-size: 15px;
 line-height: 1.5;
}


  
  
  
  
  
  
  
  
  
