*{margin:0;padding: 0; box-sizing: border-box;}

#base{
    background-color: green;
    height: 600px;
    width: 600px;
}

#direita{
    background-color: red;
    height: 300px;
    width: 300px;
    float: right;
}

#esquerda{
    background-color: blue;
    width: 300px;
    height: 300px;
    float: left;
}

