*{margin:0;padding: 0;}
h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    }
    
    p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: fuchsia;
        font-size: 12px;
    }

    input{
        width: 200px;
        background-color: mediumorchid;
    }