*{margin:0;padding: 0;}

p{
    color: red;
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 5px 10px black; 
    

}

#texto2{
    color: rgb(0, 187, 255);
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 10px;
    text-shadow: 4px;
}

#texto3{
    color: rgb(255, 115, 0);
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 15px;
    text-shadow: 5px;
}

h1{
    color: green;
    text-align: left;
    text-decoration: underline;
}

h2{
    color: blue;
    text-align: right;
    text-decoration: overline;
}

h3{
    color: orange;
    text-align: center;
    text-decoration: line-through;
}