*{margin:0;padding: 0; box-sizing: border-box;}

#exemplo{
   background-color: yellow;
   height: 200px;
   width: 200px;
   transition: 3s;
}

#exemplo:hover{
   background-color: royalblue;
   height: 800px;
   width: 800px;
}


