*{padding: 0; margin: 0; box-sizing: border-box;}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
}

.logo-container img {
  height: 50px;
  margin-right: 10px;
}

.texto-container p {
  margin: 0;
}
